# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env

# Data & Harvested Files (Ignore all versions)
*downloads*
*html_logs*
*html_logs_*

# State & Snapshots
state/
site_hints.txt

# Virtual Environments
venv/
env/
scraper_agent/
.venv/
.gemini/
